
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coforge - DetailPageLayout</title>
</head>
<body>
    <div> 
        <div>@Html.Sitecore().Placeholder("trn-header")</div>
        <div>@Html.Sitecore().Placeholder("trn-main")</div>
        <div>@Html.Sitecore().Placeholder("trn-footer")</div>
    </div>
</body>
</html>
